# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Lbian\Práctica3LibertoBianchi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
